
/* Parte Tipografia */

.TituloPrincipal {
    color: #424141;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.Subtitulos {
    color: #424141;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.textoSubtitulos {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.linkEmail {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}

html {
    scroll-behavior: smooth;
}

/* Parte Zona Navegacion */
.container-fluid {
    font-family: 'Bebas Neue';
    font-size: 20px;
    animation: 2s;
    animation-name: aparecer;
    text-align: center;
    
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-fluid a:hover {
    background-color: rgb(1, 142, 197);
    transition: all 3s;
    
}
/* Fin Zona Navegacion */

/* Zona Nuestro Valores */

.inicio {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    text-align: right;
    float: inline-start;
}

/* Zona Servicios */

.container {
    color: #424141;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.col {
    justify-content: center;
}

.imagenServicios1 {
    border-radius: 10px;
    margin: 5px;
}
.imagenServicios1:hover {filter: blur(5px);}

.imagenServicios2 {
    border-radius: 10px;
    margin: 5px;
}
.imagenServicios2:hover {filter: blur(5px);}

.imagenServicios3 {
    border-radius: 10px;
    margin: 5px;
}
.imagenServicios3:hover {filter: blur(5px);}

.imagenServicios4 {
    border-radius: 10px;
    margin: 5px;
}
.imagenServicios4:hover {filter: blur(5px);}



/* Zona Clientes */

/* Zona Trabaja con nosotros */


/* Parte Contacto */

.Contacto {
    justify-content: center;
    margin: 50px;
}

/* Parte Inferior footer */

footer {
    grid-area: footer;
    background-color: #929292;
    padding: 20px;
}

.redesSociales,
a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-left: 10px;
}

.copy {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    text-align: center;
    margin-top: 5px;

}